<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>404/Im Startup V1</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

        <!-- CSS Global -->
        <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/media.css" rel="stylesheet" type="text/css"> 
        <link href="static/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
        <link href="static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/multicolors/theme-color.css" rel="stylesheet" id="css-switcher-link">

        <!--[if lt IE 9]>
        <script src="static/assets/plugins/iesupport/html5shiv.js"></script>
        <script src="static/assets/plugins/iesupport/respond.js"></script>
        <![endif]-->
    </head>
    <body id="home" class="wide">
        <!-- PRELOADER -->
        <div id="loading">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                
            </div>
        </div>
        <!-- /PRELOADER -->

        <!-- WRAPPER -->
        <main class="wrapper"> 
            <!-- Header -->
            <header>               
                <section class="header-wrap upper-text white-color"> 
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-md-9 col-sm-7 navigation"> 
                                <div class="logo navbar-brand">
                                    <h2 class="logo-title secondery-font"> <a href="index.html"> <img alt="" src="static/assets/img/logo/logo-icon-white.png"> <b>Im Startup</b> </a> </h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-5 login-register text-right">
                                <ul class="secondery-font">                         
                                    <li> <a href="#" class="white-color"> <b>login</b> </a> </li>
                                    <li> <a href="#" class="theme-color-bg white-color"> <b>register</b> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>            
            </header>
            <!-- /Header -->

            <!-- CONTENT AREA -->

            <!-- Main Slider Start -->
            <section class="mt-105">             
                <div class="main-slider error-page">  
                    <div class="relative-div">
                        <span class="mask-overlay "></span>      
                        <img src="static/assets/img/slider/404-bg.jpg" alt="...">                       
                        <div class="theme-container container">                                
                            <div class="caption-text style-5 ">
                                <p class="error-icon"> <i class="fa  fa-file-text-o"></i> </p>
                                <h2 class="extra-bold-font block-inline secondery-font">Page Not Found</h2>
                                <p>The page you requested couldn't be found - this could be due to a spelling error in the URL or a removed page.</p>                                  
                                <a href="index.html" class="theme-btn btn"> Go Back Home </a>
                            </div>

                        </div>   
                        <!-- Brand Slider Start -->
                        <section id="brand" class="space-50">                
                            <div class="brand-slider  theme-slider">
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-1.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-2.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-3.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-4.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-5.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-6.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-7.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-1.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-2.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-3.png" alt=""> </a> </div>
                            </div>
                        </section>
                        <!-- / Brand Slider Ends -->
                    </div>
                </div>
            </section>            
            <!-- / Main Slider Ends -->   
        </main>

        <!-- JS Global -->
        <script src="static/assets/plugins/jquery/jquery-1.11.3.min.js"></script>        
        <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/plugins/owl-carousel/owl.carousel.min.js"></script> 
        <!-- JS Page Level --> 
        <script src="static/assets/js/theme.js"></script>      
    </body>
</html>