<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Coming-Soon/Im Startup V1</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

        <!-- CSS Global -->
        <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/media.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">      
        <link href="static/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
        <link href="static/assets/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">       
        <link href="static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/multicolors/theme-color.css" rel="stylesheet" id="css-switcher-link">

        <!--[if lt IE 9]>
        <script src="static/assets/plugins/iesupport/html5shiv.js"></script>
        <script src="static/assets/plugins/iesupport/respond.js"></script>
        <![endif]-->
    </head>
    <body id="home" class="wide">
        <!-- PRELOADER -->
        <div id="loading">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                
            </div>
        </div>
        <!-- /PRELOADER -->

        <!-- WRAPPER -->
        <main class="wrapper"> 
            <!-- Header -->
            <header>               
                <section class="header-wrap upper-text white-color"> 
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-md-9 col-sm-7 navigation"> 
                                <div class="logo navbar-brand">
                                    <h2 class="logo-title secondery-font"> <a href="index.html"> <img alt="" src="static/assets/img/logo/logo-icon-white.png"> <b>Im Startup</b> </a> </h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-5 login-register text-right">
                                <ul class="secondery-font">                         
                                    <li> <a href="#" class="white-color"> <b>login</b> </a> </li>
                                    <li> <a href="#" class="theme-color-bg white-color"> <b>register</b> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>            
            </header>
            <!-- /Header -->

            <!-- CONTENT AREA -->

            <!-- Main Slider Start -->
            <section class="mt-105">             
                <div class="coming-soon">                    
                    <span class="mask-overlay "></span>  
                    <div class="theme-container container relative-div  space-top-70">                                
                        <div class="caption-text style-5 ">                               
                            <h2 class="extra-bold-font block-inline secondery-font">Dont Waste Time! launch Your Startup</h2>
                            <p>Curabitur nec scelerisque  sapien. Praesent ac odio dolor. Pellentesque erat justo, ac facilisis arcu fringilla finibus.</p>                                  

                            <!-- Countdown Start -->
                            <div class="countdown-wrapper">
                                <div id="dealCountdown1" class="defaultCountdown clearfix"></div>
                            </div>
                            <!-- / Countdown Ends -->

                            <div class="form-wrap text-center space-top-50 row">
                                <form id="registration-form-alt" class="slider-form registration-form">
                                    <div class="form-group col-sm-12 col-md-12 form-alert"></div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <input type="text" class="form-control input-name" required="" placeholder="Your Name" value="" data-toggle="tooltip" title="Name is required">
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <input type="text" class="form-control input-email" required="" placeholder="Your email" value="" data-toggle="tooltip" title="Email is required">
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <button type="submit" class="theme-btn btn submit-btn submit-button">Get 15 Days Free Trial</button>
                                    </div>
                                </form>
                            </div>                                
                        </div>
                    </div>
                    <!-- Brand Slider Start -->
                    <section id="brand"  class="space-bottom-50">                
                        <div class="brand-slider  theme-slider">
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-1.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-2.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-3.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-4.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-5.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-6.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-7.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-1.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-2.png" alt=""> </a> </div>
                            <div class="item"> <a href="#"> <img src="static/assets/img/partners/partner-plain-3.png" alt=""> </a> </div>
                        </div>
                    </section>
                    <!-- / Brand Slider Ends -->                    
                </div>
            </section>            
            <!-- / Main Slider Ends -->   
        </main>

        <!-- JS Global -->
        <script src="static/assets/plugins/jquery/jquery-1.11.3.min.js"></script>        
        <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/plugins/owl-carousel/owl.carousel.min.js"></script>   
        <script src="static/assets/js/moment-with-locales.min.js"></script>
        <script src="static/assets/plugins/countdown/jquery.plugin.min.js"></script>
        <script src="static/assets/plugins/countdown/jquery.countdown.min.js"></script>

        <!-- JS Page Level --> 
        <script src="static/assets/js/theme.js"></script>
        <script src="static/assets/js/theme-ajax-mail.js"></script>

        <script>
            if ($().countdown) {
                var austDay = new Date();
                austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
                $('#dealCountdown1').countdown({until: austDay});
                $('#dealCountdown2').countdown({until: austDay});
                $('#dealCountdown3').countdown({until: austDay});
            }
        </script>
    </body>
</html>