<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Single-Blog/Im Startup V1</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="static/assets/ico/favicon.ico">

        <!-- CSS Global -->
        <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/media.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">      
        <link href="static/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
        <link href="static/assets/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">       
        <link href="static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">        
        <link href="static/assets/css/multicolors/theme-color.css" rel="stylesheet" id="css-switcher-link">
        
        <!--[if lt IE 9]>
        <script src="static/assets/plugins/iesupport/html5shiv.js"></script>
        <script src="static/assets/plugins/iesupport/respond.js"></script>
        <![endif]-->
    </head>
    <body id="home" class="wide">
        <!-- PRELOADER -->
        <div id="loading">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                
            </div>
        </div>
        <!-- /PRELOADER -->

        <!-- WRAPPER -->
        <main class="wrapper"> 
            <!-- Header -->
            <header>               
                <section class="header-wrap upper-text white-color"> 
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-md-9 col-sm-7 navigation"> 
                                <div class="logo  navbar-brand">
                                    <h2 class="logo-title secondery-font"> <a href="index.html"> <img alt="" src="static/assets/img/logo/logo-icon-white.png"> <b>Im Startup</b> </a> </h2>                                
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" >
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>                                        
                                    </div> 
                                </div>
                                <nav>                                                               
                                    <div class="collapse navbar-collapse no-padding" id="primary-navigation">                                        
                                        <ul class="nav navbar-nav primary-navbar">
                                            <li class="dropdown mega-dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Home</a>
                                                <div class="dropdown-menu mega-dropdown-menu">
                                                    <div class="col-md-4 menu-block">
                                                        <div class="sub-list">
                                                            <h2 class="title-2 white-color">Home Page</h2>
                                                            <ul>
                                                                <li><a href="index.html">Home 1</a></li>
                                                                <li><a href="index-2.html">Home 2</a></li>
                                                                <li><a href="index-3.html">Home 3</a></li>
                                                                <li><a href="index-4.html">Home 4</a></li>   
                                                                <li><a href="index-5.html">Home 5 (video)</a></li>
                                                            </ul>
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-4 menu-block">
                                                        <div class="sub-list">
                                                            <h2 class="title-2 white-color">Home Effects</h2>
                                                            <ul>
                                                                <li><a href="index-parallax.html">Home Parallax</a></li>
                                                                <li><a href="index-animation.html">Home Animation</a></li>
                                                                <li><a href="index-animation-parallax.html">Home Parallax & Animation</a></li>  
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 menu-block">
                                                        <div class="sub-list">
                                                            <h2 class="title-2 white-color">Header Layout</h2>                                                                
                                                            <ul>
                                                                <li><a href="header-2.html">Header 2</a></li>
                                                                <li><a href="header-3.html">Header 3</a></li>
                                                                <li><a href="header-4.html">Header 4</a></li>  
                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </li>
                                            <li><a href="#about-us">About</a></li>
                                            <li><a href="#theme-features">Features</a></li>
                                            <li><a href="#pricing">Pricing</a></li>
                                            <li><a href="#testimonials">Testimonials</a></li>
                                            <li><a href="#our-team">Team</a></li>                                                                        
                                            <li class="dropdown active">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Blog</a>
                                                <ul class="dropdown-menu">  
                                                    <li><a href="blog.html">Blog</a></li>                                            
                                                    <li><a href="single-blog.html">Single Blog</a></li>                                            
                                                    <li><a href="404-page.html">Error Page</a></li> 
                                                    <li><a href="coming-soon.html">Coming Soon</a></li> 
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Sub Menu</a>
                                                        <ul class="dropdown-menu">  
                                                            <li><a href="#">Sub Menu 1</a></li>
                                                            <li><a href="#">Sub Menu 2</a></li>    
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Sub Menu 3</a>
                                                                <ul class="dropdown-menu">  
                                                                    <li><a href="#">Sub Menu 4</a></li>
                                                                    <li><a href="#">Sub Menu 5</a></li> 
                                                                    <li><a href="#">Sub Menu 6</a></li> 
                                                                </ul>
                                                            </li> 
                                                        </ul>
                                                    </li> 
                                                </ul>
                                            </li>  
                                            <li><a href="contact-us.html">Contact</a></li>
                                        </ul>
                                    </div>    

                                </nav>

                            </div>
                            <div class="col-md-3 col-sm-5 login-register text-right">
                                <ul class="secondery-font">                           
                                    <li> <a href="#" class="white-color"> <b>login</b> </a> </li>
                                    <li> <a href="#" class="theme-color-bg white-color"> <b>register</b> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>            
            </header>
            <!-- /Header -->

            <!-- CONTENT AREA -->

            <!-- Post Banner Start -->
            <section class="white-bg mt-105">   
                <img src="static/assets/img/blog/post-1.jpg" alt=""> 
            </section>            
            <!-- / Post Banner Ends -->   

            <!-- Post Start -->
            <section class="white-bg">
                <div class="container theme-container">
                    <div class="post-wrap space-80">                       
                        <h1 class="title-1">Curabitur lacinia dolor sed diam ornare, non tortor elementum viverra quis</h1>                        
                        <p>In hac habitasse platea dictumst. Sed nec venenatis odio. Nulla faucibus ipsum sed faucibus accumsan. Donec rhoncus luctus massa vitae lobortis. Duis consequat, nunc a est rhoncus massa.</p>
                        <ul class="blog-meta">
                            <li> <i> 4 Days ago </i> - </li>
                            <li> <i>by <a href="#"> isamercan </a> </i> - </li>
                            <li> <i>15 Comments </i></li>
                        </ul>                      
                    </div> 
                    <div class="post-content space-80">
                        <div class="col-md-2 col-sm-4 no-padding">
                            <h6 class="title-3 gray-color"> Share </h6>
                            <ul class="social-tag">   
                                <li> <a class="facebook" href="#"><span class="fa fa-facebook"></span> </a> </li>
                                <li> <a class="twitter" href="#"><span class="fa fa-twitter"></span> </a> </li> 
                                <li> <a class="google-plus" href="#"><span class="fa fa-google-plus"></span> </a> </li> 
                                <li> <a class="linkedin" href="#"><span class="fa fa-linkedin"></span> </a> </li> 
                            </ul>
                        </div>
                        <div class="col-sm-8">
                            <p> Ut volutpat malesuada bibendum. Phasellus pellentesque quis enim sed hendrerit. Maecenas ultricies leo et neque feugiat, vel ullamcorper orci semper. Donec ut lectus dolor. Sed at accumsan sem, sit amet eleifend ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate risus nisi, id pulvinar tellus viverra quis. Mauris semper felis eu ultricies auctor. Fusce at lectus laoreet, aliquet augue id, interdum purus. Integer commodo vitae velit sed semper. Vivamus sit amet eros consequat, tincidunt ex a, accumsan ipsum.</p>
                            <p class="text-center post-quote"> 
                                <i class="fa fa-quote-left theme-color"></i> 
                                <span class="title-1 block-inline"> The Best Ever Startup Theme </span>
                                <i class="fa fa-quote-right theme-color"></i> 
                            </p>
                            <p>Pellentesque interdum pellentesque ex, et pulvinar nisi convallis vel. Praesent egestas tortor diam, sit amet laoreet diam venenatis at. Suspendisse sed mollis nibh, id pretium arcu. Nulla volutpat odio mauris, ac maximus leo venenatis et. Morbi vulputate, est eu vulputate facilisis, magna magna vulputate ex, ac sodales felis leo ac nisl. Phasellus gravida pharetra ullamcorper. Etiam vel nunc in neque dictum sagittis quis a quam. Sed a ultrices tellus. Vestibulum venenatis cursus libero, eget sodales orci tincidunt id.</p>
                            <p>Mauris auctor ut nunc nec posuere. Maecenas sed tellus consequat, vestibulum dui id, rhoncus leo. Curabitur id nibh sed ex rutrum fringilla at quis massa. Fusce quis mauris sed felis blandit sollicitudin eu vitae felis. Maecenas pulvinar erat et dictum rutrum. Vestibulum malesuada erat nec eros porta, in luctus libero rhoncus. Integer eu dolor a eros ultricies pulvinar. Donec nec quam vehicula, vulputate velit a, dapibus arcu.</p>
                        </div>
                    </div>               
                </div>
                <img src="static/assets/img/blog/post-detail-1.jpg" alt=""> 
                <div class="container theme-container">
                    <div class="post-content space-80">
                        <div class="col-md-2 col-sm-4 no-padding"></div>
                        <div class="col-sm-8">
                            <h2 class="title-1">Mauris auctor ut nunc nec (Secondary Header).</h2> 
                            <p>Praesent quis eros vel sem pretium pulvinar eu nec mi. Donec molestie sollicitudin neque quis feugiat. Nam congue, sapien vel posuere malesuada, lorem erat convallis nisl, eu hendrerit erat erat in tortor. Vestibulum ultricies eleifend risus, at sagittis urna maximus a.</p>
                            <p>Etiam porta quam magna, pharetra tincidunt orci dictum non. Sed mattis augue sed urna tincidunt, a elementum nunc mollis. Morbi vehicula urna diam, ut venenatis purus molestie at. Donec ut faucibus dui, sit amet cursus orci. Etiam finibus pellentesque mauris eu auctor. Suspendisse pretium odio sit amet erat varius ornare. Cras porta non lectus sed sodales. </p>
                            <div class="post-btn space-bottom-50"> 
                                <a href="#" class="theme-btn-1 btn">Startup</a>
                                <a href="#" class="theme-btn-1 btn">New Product</a>
                                <a href="#" class="theme-btn-1 btn">Any Tag here</a>
                            </div>
                            <div class="author-entery space-50">
                                <div class="author-img col-md-3 col-sm-4 no-padding"> <img src="static/assets/img/avatars/author.jpg" alt=""> </div>
                                <div class="author-content col-md-9 col-sm-8"> 
                                    <p>Quisque id leo eu neque commodo luctus. Nullam malesuada blandit imperdiet. Phasellus vehicula egestas ante, non facilisis nisl aliquet sed.</p>
                                    <a href="#" class="title-2">ISABELLA SNOW</a>
                                    <h5>Author of Entry</h5>
                                </div>
                            </div>
                            <div class="comment-area space-top-70">
                                <div class="comments-article">
                                    <div class="clearfix"></div> 
                                    <div class="article-title" id="comments">
                                        <div class="article-title">
                                            <h2>comments</h2>
                                        </div>
                                        <ol class="comments-box clearfix">
                                            <li class="comment byuser comment-author-fruitthemes bypostauthor even thread-even depth-1" >
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img class="avatar avatar-80 photo"  src="static/assets/img/avatars/avtar-1.jpg" alt="avtar">	
                                                            <h3 class="fn no-margin">REBEKAH SNO -</h3> <span class="says">says:</span>					
                                                        </div><!-- .comment-author -->

                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2015-01-19T09:37:32+00:00"> 4 days ago	</time>
                                                            </a>
                                                        </div><!-- .comment-metadata -->

                                                    </footer><!-- .comment-meta -->

                                                    <div class="comment-content">
                                                        <p>Quisque id leo eu neque commodo luctus. Nullam malesuada blandit imperdiet. Phasellus vehicula egestas ante, non facilisis nisl aliquet sed. </p>
                                                    </div><!-- .comment-content -->                                                  		
                                                </article><!-- .comment-body -->                                                
                                            </li><!-- #comment-## -->
                                            <li class="comment byuser comment-author-fruitthemes bypostauthor even thread-even depth-1" >
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img class="avatar avatar-80 photo"  src="static/assets/img/avatars/avtar-2.jpg" alt="avtar">	
                                                            <h3 class="fn no-margin">JOHN SNOW -</h3> <span class="says">says:</span>					
                                                        </div><!-- .comment-author -->

                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2015-01-19T09:37:32+00:00"> 4 days ago	</time>
                                                            </a>
                                                        </div><!-- .comment-metadata -->

                                                    </footer><!-- .comment-meta -->

                                                    <div class="comment-content">
                                                        <p>Quisque id leo eu neque commodo luctus. Nullam malesuada blandit imperdiet. Phasellus vehicula egestas ante, non facilisis nisl aliquet sed. </p>
                                                    </div><!-- .comment-content -->                                                  		
                                                </article><!-- .comment-body -->                                                
                                            </li><!-- #comment-## -->
                                            <li class="comment byuser comment-author-fruitthemes bypostauthor even thread-even depth-1" >
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img class="avatar avatar-80 photo"  src="static/assets/img/avatars/avtar-3.jpg" alt="avtar">	
                                                            <h3 class="fn no-margin">ISABELLA SNOW -</h3> <span class="says">says:</span>					
                                                        </div><!-- .comment-author -->

                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2015-01-19T09:37:32+00:00"> 4 days ago	</time>
                                                            </a>
                                                        </div><!-- .comment-metadata -->

                                                    </footer><!-- .comment-meta -->

                                                    <div class="comment-content">
                                                        <p>Quisque id leo eu neque commodo luctus. Nullam malesuada blandit imperdiet. Phasellus vehicula egestas ante, non facilisis nisl aliquet sed. </p>
                                                    </div><!-- .comment-content -->                                                  		
                                                </article><!-- .comment-body -->                                                
                                            </li><!-- #comment-## -->
                                            <li class="comment byuser comment-author-fruitthemes bypostauthor even thread-even depth-1" >
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img class="avatar avatar-80 photo"  src="static/assets/img/avatars/avtar-4.jpg" alt="avtar">	
                                                            <h3 class="fn no-margin">YOUR COMMENT  -</h3> <span class="says">says:</span>					
                                                        </div><!-- .comment-author -->

                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2015-01-19T09:37:32+00:00"> Now	</time>
                                                            </a>
                                                        </div><!-- .comment-metadata -->

                                                    </footer><!-- .comment-meta -->                                                                                                   		
                                                </article><!-- .comment-body -->                                                
                                            </li><!-- #comment-## -->
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>
            <!-- / Post Ends -->

            <!--  Launch Your Startup Start -->
            <section class="space-100 light-bg">
                <div class="container theme-container">
                    <div class="launch-startup text-center">
                        <h2 class="title-1 space-bottom-15">Best Easy Way To Launch Your Startup</h2>
                        <a class="theme-btn btn" href="#">Get your Free trıal</a>
                        <span class="title-3">or</span>
                        <a class="theme-btn-1 btn" href="#"> <span class="fa fa-caret-right"></span> Take Tour Now</a>
                    </div>
                </div>
            </section>
            <!-- /  Launch Your Startup Ends -->

            <!-- Newsletter Start -->
            <section id="subscribe">
                <div class="space-80 subscribe-bg  white-color">
                    <span class="mask-overlay"></span>
                    <div class="container theme-container relative-div">                   
                        <div class="title-wrap space-bottom-30">
                            <h2 class="section-title">Start To Use Start Up Today</h2>  
                            <p>Curabitur nec scelerisque nulla, non pharetra sapien. Pellentesque commodo fringilla finibus.</p>
                        </div>                 
                        <div class="news-form text-center">
                            <div class="news-form text-center">
                                <form id="subscribe-form" method="post" action="#" class="newsletter text-center space-20 col-sm-12 col-md-6 col-md-offset-3">
                                    <div class="form-group col-sm-12 form-alert"></div>
                                    <div class="form-group pull-left col-sm-8">
                                        <input type="text" placeholder="your email address" name="sf_email" id="sf_email" value="" data-toggle="tooltip" title="Email is required" class="form-control input-email">
                                    </div>
                                    <div class="form-group pull-right">
                                        <button  type="submit" name="sf_submit" id="sf_submit" class="theme-btn btn submit-btn submit-button">Subscribe</button>
                                    </div>
                                </form>
                                <p class="clearfix">Have a question? Give us a call +90-555-4433.</p>
                            </div>
                            <p class="clearfix">Have a question? Give us a call +90-555-4433.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Newsletter Ends -->

            <!-- Contact Us Start -->
            <section class="space-80"  id="contact-us">                 
                <div class="container theme-container">
                    <div class="title-wrap space-bottom-50">
                        <h2 class="section-title">Contact Us</h2>
                        <p>Curabitur nec scelerisque nulla, non pharetra sapien. Pellentesque commodo fringilla finibus.</p>
                    </div>
                    <div class="contact-form-wrap  clearfix">
                        <form id="contact-form" class="col-md-offset-2 no-padding col-md-8 col-sm-12">
                            <div class="form-group col-sm-12 form-alert"></div>
                            <div class="contact-form">
                                <div class="form-group col-sm-6 no-padding">
                                    <input type="text" class="form-control name input-your-name" placeholder="Your Name" name="cf_name" id="cf_name" value="" data-toggle="tooltip" data-placement="bottom"  title="Name is required">
                                </div>
                                <div class="form-group col-sm-6 no-padding">
                                    <input type="text" class="form-control email input-email" placeholder="Email Address" name="cf_email" id="cf_email" value="" data-toggle="tooltip" data-placement="bottom"  title="Email is required">
                                </div>
                                <div class="form-group col-sm-12 no-padding">
                                    <textarea class="form-control message input-message" rows="8" cols="10" placeholder="Your Massage" name="cf_message" id="cf_message" data-toggle="tooltip" data-placement="top"  title="Message is required"></textarea>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 no-padding text-center">
                                <button type="submit" class="theme-btn btn submit-btn submit-button">Send Now</button>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
            <!-- / Contact Us Ends -->

            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <footer class="footer">             
                <section class="space-70 footer-bg white-color">
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2 class="logo-title secondery-font"> <a href="index.html" class="white-color"> <img src="static/assets/img/logo/logo-icon-white.png" alt=""> <b>Im Startup</b> </a> </h2>  
                            </div>
                            <div class="col-sm-7">
                                <ul class="social-icons">   
                                    <li> <a href="#" class="hover-color"><span class="fa fa-facebook"></span> </a> </li>
                                    <li> <a href="#" class="hover-color"><span class="fa fa-twitter"></span> </a> </li> 
                                    <li> <a href="#" class="hover-color"><span class="fa fa-behance"></span> </a> </li> 
                                    <li> <a href="#" class="hover-color"><span class="fa fa-instagram"></span> </a> </li>
                                    <li> <a href="#" class="hover-color"><span class="fa fa-globe"></span> </a> </li>
                                </ul>                      
                                <p class="copy-rights secondery-font">© 2015 jThemes Studio, Ltd. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- /FOOTER -->

            <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

        </main>
        <!-- /WRAPPER -->

        <!-- Popup: Video Player -->
        <div class="modal fade login-register" id="video-popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog video-frame">                 
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="video-link"> 
                    <iframe id="video" width="800" height="500" allowfullscreen=""> </iframe>
                </div>
            </div>
        </div>
        <!-- Popup: Video Player -->

        <!-- JS Global -->
        <script src="static/assets/plugins/jquery/jquery-1.11.3.min.js"></script>        
        <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

        <!-- JS Page Level --> 
        <script src="static/assets/js/theme.js"></script>
        <script src="static/assets/js/theme-ajax-mail.js"></script>

       

    </body>
</html>